[submodule "flexnas"]
	path = flexnas
	url = git@github.com:eml-eda/flexnas.git
[submodule "pytorch-benchmarks"]
	path = pytorch-benchmarks
	url = https://github.com/eml-eda/pytorch-benchmarks.git
[submodule "plinio"]
	path = plinio
	url = https://github.com/eml-eda/plinio.git
